.nav {
  display: flex;
  padding: 30px 30px;
  background-color: #4682b4;
}
.nav-list {
  display: flex;
}
.nav-item {
  margin-right: 10px;
}
.nav-link {
  color: white;
}
.nav-link:hover {
  color: orange;
}
